@{
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}

@model User;


<div style="margin: 15px" class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ůprava zaměstance</h6>
    </div>
    <div class="card-body">
        <form class="row g-3" asp-action="EmployeeEdit" asp-controller="DashBoard">
            <input type="number" value="@Model.Id" asp-for="Id" hidden>
            <input type="text" value="@Model.Name" asp-for="Name" hidden>
            <input type="text" value="@Model.Password" asp-for="Password" hidden>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Jméno</label>
                <input type="text" class="form-control" id="inputEmail4" value="@Model.FirstName" asp-for="FirstName" required>
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Příjmení</label>
                <input type="text" class="form-control" id="inputPassword4" value="@Model.Surname" asp-for="Surname" required>
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputAddress" value="@Model.Email" asp-for="Email">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Upravit uživatele</button>
            </div>
        </form>
    </div>
</div>
